version: "3.9"

services:
  hms-backend-node:
    container_name: hms-backend-node
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - hms-network

networks:
  hms-network:
    driver: bridge
